body {
	background-image: url("background.jpeg");
	background-attachment: fixed;
	color: maroon;
	background-repeat: no-repeat;
	font-family: Arial;
	background-position: 50% 50%;
}

#indexpagecontentbuffer {
	width: 500px;
	height: 600px;
	display: block;
	margin: auto;
	border-style: solid;
	border-color: maroon;
	overflow: hidden;
}

#indexpagecontent {
	width: 500px;
	height: 600px;
	display: block;
	margin: auto;

	padding: 10px;
	overflow-y: scroll;
}

#newuser { 
	font-family:arial, helvetica, sans-serif; 
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none; 
	display: inline-block;
	text-shadow: -1px -1px 0 grey;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal; 
	color: green;
	font-size: 12px;
	margin-right: 110px;

}

#delet { 
	font-family:arial, helvetica, sans-serif; 
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none; 
	display: inline-block;
	text-shadow: -1px -1px 0 grey;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal; 
	color: red; 
	font-size: 12px;
	margin-left:110px;

}

#addcategory { 
	font-family:arial, helvetica, sans-serif; 
	padding-top: 0px;
	padding-bottom: 0px;
	text-decoration: none; 
	display: inline-block;
	text-shadow: -1px -1px 0 grey;
	font-weight: normal; 
	color: blue; 
	font-size: 12px;
}

#chartheader {
	color: green;
	margin:auto;
}